body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url('https://github.com/verthra/static/blob/main/bg.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    header, section, footer {
        padding: 10px;
    }
}
